
:root{
    --blue: rgb(16, 44, 71);
    --white: rgb(246, 246, 246);
    --yellow: rgb(246, 225, 75);
    --yellow-light: rgba(246, 225, 75, 0.3);
    --yellow-stronger: rgba(246, 225, 75, 0.7);
    --red: rgb(213, 33, 46);
    --red-light: rgba(213, 33, 46, 0.3);
    --red-starker: rgba(213, 33, 46, 0.7); 
    --purple: rgb(101, 55, 128);
    --purple-light: rgba(101, 55, 128, 0.4);
}

.white {
    color: var(--white);
}

body {
    background-color: var(--blue);
    color: var(--white);
    overflow-x: hidden;
}

h5 {
    font-size: 300%;
}

p {
    color: var(--yellow);
}

.letter {
    padding: 15px;
    margin: 10px;
    border: 2px black solid;
    border-radius: 20px;
    width: auto;
    height: auto;
    cursor: pointer;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-create {
    margin-top: 25px;
    padding: 10px;
    width: 70%;
    color: var(--blue);
    background-color: var(--yellow-stronger);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.btn-create:hover {
    background-color: var(--yellow);
}

.wrapper-words {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guess-word-div {
    margin: 10px;
    width: 60px;
    text-align: center;
    border-bottom: 5px solid var(--white);
}

.guess-word-no-border {
    margin: 10px;
    width: 60px;
}

.a, .à, .b, .c, .d, .f, .e, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .s, .t, .u, .ù, .w, .x, .y, .z, .v {
    opacity: 0;
} 

#win {
    width: 100%;
    height: 100%;
    background-color: var(--yellow-light);
    backdrop-filter: blur(10px);
    color: var(--yellow);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lost {
    width: 100%;
    height: 100%;
    background-color: var(--red-light);
    backdrop-filter: blur(10px);
    color: var(--red);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#insert {
    width: 100%;
    height: 100%;
    background-color: var(--purple-light);
    backdrop-filter: blur(10px);
    color: var(--yellow);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-play-again {
    border: 1px solid var(--yellow);
    color: var(--blue);
    cursor: pointer;
    border-radius: 50px;
}
.btn-play-again:hover {
    background-color: var(--blue);
}

.custom-input {
    height: 7%;
    width: 40%;
    background-color: var(--purple-light);
    border-radius: 10px;
    font-size: 190%;
}

#banner_spec_char {
    margin-top: 15px;
    padding: 15px;
    border: 2px solid var(--red);
    border-radius: 15px;
    color: var(--white);
    background-color: var(--red-light);
    width: 40%;
}